.item-1-page {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  /*must set height dynamically*/
  height: calc(100svh - 193px);
  width: 100%;
}
/*PROJECT SELECTOR && its spacer*/
.item-1-spacer {
  width: 100%;
  height: 100px;
  position: relative;
  z-index: -1;
}
.project-selector {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  z-index: 10;
  overflow: hidden;
  min-height: 60px;
  width: 100%;
  max-width: 450px;
  border: 1px solid #F8F9FA;
  border-radius: 30px;
  padding: 0 20px;
  cursor: pointer;
  
  height: 60px;
  backdrop-filter: blur(0);
  background-color: transparent;
  box-shadow: none;
  transition: backdrop-filter 150ms ease, height 250ms ease, background-color 250ms ease, box-shadow 250ms ease;
}
.project-selector-active {
  backdrop-filter: blur(4px);
  height: auto;
  background-color: rgba(0,0,0,0.30);
  box-shadow: inset 0 0 10px rgba(255,255,255,0.2);
}
.project-name-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 100%;
}
.project-name {
  display: flex;
  flex-shrink: 0;
  height: 60px;
  width: 100%;
}
.project-h1 {
  display: flex;
  align-items: center;
  font-family: 'Jost', sans-serif;
  color: #F8F9FA;
  height: 100%;
  transition: color 150ms ease
}
.project-h1-active {
}
.project-icon-container {
  display: flex;
  justify-content: flex-end;
  height: auto;
  width: 100%
}
.project-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 100%;
}
.project-icon {
  color: #F8F9FA;
  width: 25px;
  height: 25px;
  transition: transform 300ms ease;
}
.project-icon-active {
  transform: rotate(180deg);
}
/*PROJECT CARD*/
.project-card {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;

  border-radius: 20px;
}
@media(min-width: 390px) {
  .item-1-page {
    height: calc(100svh - 133px);
  }
}
@media (min-width: 440px) {
  .item-1-page {
    height: calc(100svh - 193px);
  }
}
@media (min-width: 530px) {
  .item-1-page {
    height: calc(100svh - 213px);
  }
}
@media (min-width: 1024px) {
  .item-1-page {
  }
}
