.service-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 30px;
  width: 100%;
  height: fit-content;
  margin-top: 30px;
  /*margin-bottom: 20px;*/
}
.service-button-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 15px;
  cursor: pointer; 
}
.service-button-text {
  font-family: 'Jost', sans-serif;
  text-shadow: 0 0 7px rgba(30,30,30,1);
  color: #9B5DE5;
}
.service-button-icon {
  color: #9B5DE5;
  transition: transform 400ms ease, color 150ms ease;
}
.service-button-icon-active {
  color: #8B0000;
  transform: rotate(225deg);
}
.service-spacer {
  width: 100%;
}
@media (min-width: 1024px) {
  .service-container {
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }
}
