.banner-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  height: 115px;
  width: 100%;
  max-width: 450px;
}
.banner-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Major Mono Display', monospace;
  font-size: 40px;
  color: #F8F9FA;
  cursor: pointer;
  background-color: transparent;
  box-shadow: none;
  transition: background-color 150ms ease, box-shadow 150ms ease;
}
.banner-title-item-page {
  font-size: 30px;
  padding: 0 15px;
  border-radius: 40px;
  background-color: rgba(0,0,0,0.3);
}
.banner-text-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-end;
}
.banner-subtitle {
   font-family: 'Major Mono Display', monospace;
   font-size: 15px;
   color: #F8F9FA;
   margin: 
}
.banner-text {
  font-family: 'Jost', sans-serif;
  font-size: 11px;
  color: #F8F9FA;
  font-weight: 300;
  /*this margin is used to space banner and grid*/
}
.banner-text-strong {
  font-weight: 900;
  color: #9B5DE5;
}
@media (min-width: 390px) {
  .banner-wrapper {
    height: 63px;
  }
}
@media (min-width: 1024px) {
  .banner-wrapper {
    flex-flow: row nowrap;
    justify-content: space-between;
    max-width: 1440px;
    padding-bottom: 0px;
  }
  .banner-title {
    font-size: 53px;
    padding: 0 25px;
    margin-left: -25px;
    border-radius: 40px;
  }
  .banner-title-item-page {
    box-shadow: inset 0 0 10px rgba(255,255,255,0.25);
  }
  .banner-text-wrapper {
    align-items: flex-end;
  }
  .banner-subtitle {
    margin: 0;
    font-size: 20px;
  }
  .banner-text {
    margin-bottom: 0;
    font-size: 15px;
  }
}
@media (max-width: 372px) {
  .banner-text-wrapper {
    align-items: flex-start;
  }
}
@media (max-width: 390px) {
  .banner-subtitle {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .banner-deactivation {
    display: none;
  }
}

