/*PROJECT CARDS*/

.project-card-item {
  box-sizing: border-box;
  height: 100%;
  border-radius: 20px;

}
.project-image {
  position: relative;
  transition: left 250ms ease, width 250ms ease;
  background-color: rgba(0,0,0,0.70);
  box-shadow: inset 0 0 10px rgba(255,255,255,0.2);
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}
.project-images-active {
  left: 0%;
}
.project-images-not-active {
  left: -100%;
  width: 0%;
}
.project-button {
  position: absolute;
  z-index: 10;
  bottom: 25px;
  right: 30px;
  border-radius: 30px;
  border: none;
  font-family: 'Jost', sans-serif;
  font-size: 15px;
  padding: 10px 20px;
  backdrop-filter: blur(30px);
  color: #F9F8F0;
  cursor: pointer;
}
.project-image-button {
  background-color: transparent;
}
.project-description-button {
 background-color: rgba(255,255,255,0.2);
}
.project-description {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;

  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.40);
  box-shadow: inset 0 0 10px rgba(255,255,255,0.2);
  padding: 40px;
  transition: right 250ms ease;
}
.project-description-active {
  right: 0%;
}
.project-description-not-active {
  right: -100%;
}
.project-description-reset-width {
  width: 0% !important; 
}
.project-description-text-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  height: 100%;
  width: 100%;
}
.project-description-text-spacer {
  width: 100%;
  height: 30px;
}
.project-description-title, .project-description-subtitle {
  color: #F8F9F0;
  font-family: 'Jost', sans-serif;
}
.project-description-title {
  font-size: 20px;
  font-weight: 400;
}
.project-description-proj-name {
  color: #9B5DE5;
  font-weight: 900;
}
.project-description-subtitle {
  height: 100%;
  overflow: scroll;
  font-size: 15px;
  text-align: justify;
  margin-bottom: 25px;
}
.project-description-anchor-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.project-description-anchor {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-decoration: none;
}
.project-description-anchor-icon {
  color: #F8F9F0;
  width: 20px;
  height: 20px;
}
@media (min-width: 1024px) {
  .project-description-title {
    font-size: 25px;
  }
  .project-description-subtitle {
    font-size: 18px;
  }
}
