/*Grid construction through display: flex*/
.grid-wrapper {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: flex-start;
  height: calc(100vh - 150px);
  width: 100%;
}
.grid-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 15px;

  width: 100%;
  height: 100%;
  max-width: 450px;
  max-height: 800px;
}
.grid-lvl-1 {
  display: flex;
  gap: 15px;
  
  width: 100%;
  height: 50%;
}
.lvl-1-top {
  flex-flow: column nowrap;
}
.lvl-1-bottom {
  flex-flow: row nowrap;
}
.grid-lvl-2 {
  display: flex;
}
.lvl-2-top-top {
  flex-flow: row nowrap;
  gap: 15px;
    
  height: calc(2 * 100% / 3);
  width: 100%;
}
.lvl-2-top-bottom {
  width: 100%;
  height: calc(100% / 3);
}
.lvl-2-bottom-left {
  flex-flow: column nowrap;
  gap: 15px;
  
  height: 100%;
  width: calc(2* 100% / 3);
}
.lvl-2-bottom-right {
  height: 100%;
  width: calc(100% / 3);
}
.grid-lvl-3 {
}
.lvl-3-top-left {
  width: calc(2 * 100% / 3);
  height: 100%;
}
.lvl-3-top-right {
  width: calc(100% / 3);
  height: 100%;
}
.lvl-3-bottom-top {
  width: 100%;
  height: calc(100% / 3);
}
.lvl-3-bottom-bottom {
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;

  width: 100%;
  height: calc(2 * 100% / 3);
}
.grid-lvl-4 {
  display: flex;
  gap: 15px;

  width: calc(100% / 2);
  height: 100%;
}
.lvl-4-left  {
 flex-flow: column nowrap; 
}
.grid-lvl-5 {
  display: flex;
  flex-flow: column nowrap;

  height: calc(100% / 2);
  width: 100%;
}

/*Item general styles*/
.item-1-container, .item-2-container, .item-3-container, .item-4-container, .item-5-container, .item-6-container, .item-7-container, .item-8-container {
  border-radius: 12px;
  overflow: hidden;

  /*may become specific to some items later*/
  background-color: rgba(255,255,255,0.3);
  box-shadow: inset 0 0 10px rgba(255,255,255,0.2);
}

/*All the mediaqueries*/
@media (min-width: 1024px) {
  .grid-wrapper {
    justify-content: center;
  }
  .grid-container {
    flex-flow: row-reverse nowrap;
    max-width: 1440px;
    max-height: 540px;
    height: 100%;
  }
  .grid-lvl-1 {
    height: 100%;
  }
  .grid-container, .grid-lvl-1, .lvl-2-top-top, .lvl-2-bottom-left, .lvl-2-top-bottom, .lvl-3-bottom-bottom, .grid-lvl-4 {
    gap: 30px;
  }
}

@media (min-width: 1440px) {
  .grid-wrapper {
    padding-bottom: 50px;
  }
   .grid-container {
    flex-flow: row-reverse nowrap;
    max-height: 720px;
  }
}
