.item-1-button {
  position: relative;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  background-color: rgba(150,150,150,0.9);
  border-radius: 8px;
  border: none;
  padding: 4px 17px;
  color: #F8F9FA;
  font-family: 'Jost', sans-serif;
  letter-spacing: 2px;
}
@media (min-width: 1024px) {
  .item-1-button {
    transform: translateX(-50%) translateY(-50%) scale(1.5);
  }
}
