.item-6-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(219,170,22,0.35);
  background: linear-gradient(30deg, rgba(219,170,22,0.8) 0%, rgba(254,228,64,0.8) 100%);

}
.item-6-icon {
  object-fit: contain;
  height: calc(100% / 1.8);
  opacity: 0.2;
}
.item-6-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Jost',sans-serif;
  color: white;
  font-size: 15px;
  text-shadow: 0px 0px 10px rgba(0,0,0,7);
}
.item-6-modale-content-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 15px;
  align-items: center;
}
.item-6-modale-button {
  width: 200px;
  max-width: 70%;
  height: 35px;
  border-radius: 20px;
  border: none;
   color: #F8F9FA;
  font-family: 'Jost', sans-serif;
  font-size: 18px;
  cursor: pointer;
}
.item-6-modale-button-download {
  background: rgb(195,126,240);
  background: linear-gradient(30deg, rgba(195,126,240,1) 0%, rgba(147,143,208,0.9999504089355469) 100%);
}
.item-6-modale-button-cancel {
  background-color: grey;
  opacity: 0.7;
}
@media (min-width: 440px) {
  .item-6-text {
    font-size: 20px;
  }
}
@media (min-width: 1024px) {
  .item-6-text {
    font-size: 30px;
  }
}
